.annotation-border-box {
	border: 1px solid gray;
	padding: 20px;
	box-shadow: 2px 2px 5px grey;
}

.full-width {
	width: 100% !important;
}

.margin-top-ten {
	margin-top: 10px;
}

span.browse-image-icon-color {
	color: orangered;
}

.annotation-accordion {
	margin-top: 10px;
	width: 100%;
	overflow: hidden;
}

.zero-padding {
	padding: 0px;
}

.command-padding {
	padding-bottom: 10px;
}

button.reset-style {
	float: right;
	margin-left: 3px;
}

.d-inline {
	display: inline;
}

.max-width {
	width: 100%;
}

#canvasContainer {
	box-sizing: border-box;
}