.loadSpinner {
	width: 80px;
	height: 80px;
	border: 10px solid #AAA;
	border-left: 10px solid rgb(47, 0, 255);
	border-radius: 50%;
	animation: loadSpinnerAnimation 2s cubic-bezier(0.215, 0.610, 0.355, 1) infinite;
	margin: 0 auto;
}

@keyframes loadSpinnerAnimation {
	0% { transform: rotate(0deg); }
	
	100% { transform: rotate(360deg); }
}