<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{ text }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn ng-class: yesButtonClass" ng-click="dismiss(true)" data-dismiss="modal">YES</button>
                <button type="button" class="btn ng-class: noButtonClass" ng-click="dismiss(false)" data-dismiss="modal">NO</button>
            </div>
        </div>
    </div>
</div>