<div class="card">
	<div class="card-header">Annotation Import Tool</div>
	<div class="card-body">

		<div ng-if="uploader" class="uploader uploader-small" nv-file-drop uploader="uploader">
			Drop the ZIP-Archive you wish to import here...
		</div>

		<div ng-if="uploader.queue.length >= 1">
			<table class="table">
				<thead>
				<tr>
					<th>Filename</th>
					<th>Importer</th>
					<th>Target</th>
					<th>Progress</th>
					<th>Controls</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="item in uploader.queue" ng-class="{warning: item.importerMissing}">
					<td>{{item.file.name}}</td>

					<td>
						<select ng-model="item.selectedImporter"
										required="required"
										ng-options="importer.name for importer in availableImporters">
						</select>
					</td>

					<td>
						<select ng-model="item.selectedOntology"
										required="required"
										ng-options="ontology as ontology.name for ontology in availableOntologies track by ontology.id">
						</select>
					</td>

					<td>{{item.progress}}%</td>

					<td>
						<button type="button" class="btn btn-danger" ng-click="uploader.deleteItem(item)">Remove</button>
					</td>
				</tr>
				</tbody>
			</table>

			<button type="button" class="btn btn-primary" ng-click="uploadAll()">Import</button>
			<button type="button" class="btn btn-danger" ng-click="uploader.clearQueue()">Clear Queue</button>

		</div>
	</div>
</div>
