<div id="annotation-container" class="card" ng-keydown="hotkey($event)" tabindex="1">
	<div id="canvasContainer" class="card-body p-0">
		<canvas class="img-responsive" id="fabricCanvas"></canvas>
	</div>

	<div class="card-footer">
		<div class="text-center">
			<div class="btn-group flex-wrap">
				<button type="button" class="btn" id="select" ng-class="{'btn-primary': currentTool === selectTool, 'btn-dark': currentTool !== selectTool}"
				 ng-click="setTool(selectTool)">
				 	<i class="fas fa-mouse-pointer"></i>
				</button>
				<button type="button" class="btn" id="pan" ng-class="{'btn-primary': currentTool === panTool, 'btn-dark': currentTool !== panTool}"
				 	ng-click="setTool(panTool)">
				 	<i class="fas fa-expand-arrows-alt"></i>
				</button>
				<!--<button type="button" class="btn btn-default" id="circle" ng-class="{'btn-primary': currentTool === circleTool}"
							ng-click="setCircleTool()">
				<img src="images/circle.png" alt="circle" height="20"/>
			</button>-->
				<button type="button" class="btn" id="rectangle" ng-class="{'btn-primary': currentTool === rectangleTool, 'btn-dark': currentTool !== rectangleTool}"
				 ng-click="setTool(rectangleTool)">
					 <i class="fas fa-vector-square"></i>
				</button>
				<button type="button" class="btn" id="polygon" ng-class="{'btn-primary': currentTool === polygonTool, 'btn-dark': currentTool !== polygonTool}"
				 ng-click="setTool(polygonTool)">
					<i class="fas fa-project-diagram"></i>
				</button>
				<button type="button" class="btn" id="freehand" ng-class="{'btn-primary': currentTool === freehandTool, 'btn-dark': currentTool !== freehandTool}"
				 ng-click="drawFreehand()">
				 	<i class="fas fa-pen-fancy"></i>
				</button>
				<button type="button" class="btn" id="eraser" ng-class="{'btn-primary': currentTool === eraserTool, 'btn-dark': currentTool !== eraserTool}"
				 ng-click="setTool(eraserTool)">
					 <i class="fas fa-eraser"></i>
				</button>
				<button type="button" class="btn" id="clone" ng-class="{'btn-primary': currentTool === cloneTool, 'btn-dark': currentTool !== cloneTool}"
				 ng-click="setTool(cloneTool)">
				 	<i class="fas fa-copy"></i>
				</button>
				<!--<button type="button" class="btn" id="save" ng-click="downloadImage()">
				<img src="images/save.png" alt="downloadImage" height="20"/>
			</button>-->
				<button type="button" class="btn btn-info" id="undo" ng-click="undo()">
					<i class="fas fa-undo"></i>
				</button>
				<button type="button" class="btn btn-info" id="redo" ng-click="redo()">
					<i class="fas fa-redo"></i>
				</button>
				<button type="button" class="btn btn-danger" id="clear" ng-click="clear(true)">
					<i class="fas fa-bomb"></i>
				</button>
				<!--<button type="button" class="btn btn-danger" id="resettool" ng-click="reset()">Reset Tool</button>-->
			</div>
		</div>
	</div>
</div>