<div class="card">
	<div class="card-header">Server Information <span ng-if="serverInfoLoading"><i class="fas fa-spin fa-spinner"></i></span></div>

	<ul class="list-group">
		<li class="list-group-item">Operating System: {{ serverInfo.osName }} {{ serverInfo.osVersion }}</li>
		<li class="list-group-item">System Architecture: {{ serverInfo.arch }}</li>
		<li class="list-group-item">Available CPUs: {{ serverInfo.availableCPUs }}</li>
		<li class="list-group-item">Load: {{ serverInfo.load }}</li>
		<li class="list-group-item">Memory stats:
			<div class="progress">
				<div class="progress-bar bg-danger" role="progressbar" style="width:{{percentFree * 100}}%;">
				</div>
				<div class="progress-bar bg-warning" role="progressbar" style="width:{{percentAllocated * 100}}%;">
				</div>
				<div class="progress-bar bg-success" role="progressbar" style="width:{{percentMax * 100}}%;">
				</div>
			</div>
			Used: {{serverInfo.freeMemory | filesize}} /
			Allocated: {{serverInfo.allocatedMemory | filesize}} /
			Free: {{serverInfo.maxMemory | filesize}}
		</li>
	</ul>
</div>
