<div>
	<div class="card-columns">
		<server-info server-info="adminCtrl.serverInfo"></server-info>

		<ontology-manager></ontology-manager>

		<batch-image-uploader></batch-image-uploader>

		<annotation-import></annotation-import>
	</div>
</div>
