<div class="row text-center text-lg-left" ng-if="!browseCtrl.loadingImages">
	<div class="col-xs-6 col-md-2" ng-repeat="image in browseCtrl.images">

		<a href="#!/annotations/{{image.id}}">
			<div class="card">
				<img class="card-img-top" src="{{browseCtrl.imageUrl}}/{{image.id}}/thumbnail">
				<div class="card-body">
					<p class="card-text">{{ image.filename || 'No file name present.'}}</p>
				</div>
			</div>
		</a>

	</div>
</div>

<div class="row text-center" ng-if="browseCtrl.loadingImages">
	<div class="loadSpinner"></div>
</div>